<div class="form-group">
  <div class="col-lg-10">
    <h3>Present Attendance - <%= present_attendance %></h3>
    <h3>Amount Given - <%= payment_given %></h3>
    <h3>Remaning Salary - <%= remaning_salary %></h3>
  </div>
</div>